@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
    hr {
        display: none;
    }
}
@media (min-width: 768px) {
    .arrow-down {
        display: none;
    }
}
