body {
    font-family: 'Roboto',sans-serif;
}

.feature-box {
    text-align: center;
    margin-top: 30px;
}

header {
    width: 100%;
    background-color: transparent;
}

.footer {
    background-color: #2A3052;
}

.footer-section {
    padding:15px;
}

.logo {
    margin: auto;
    display: block;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    color: #E98024;
}

h1.dark {
    color: #2A3052;
}

h2 {
    font-size: 28px;
    color: #E98024;
    font-weight: 300;
}

h3 {
    color: #2A3052;
    font-size: 22px;
    font-weight: 300;
}

p {
    margin: 1em 0;
    line-height: 1.4em;
    font-weight: 300;
}

.white-text {
    color: #FFFFFF;
}

.center-text {
    text-align: center;
}

.iframe {
    width: 100%;
    overflow: hidden;
}

.hero-text {
    width: 85%;
}

.payment-row {
    margin-bottom: 30px;
}

.spinner {
    margin: auto;
}

hr {
    width: 120px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 5px solid rgb(233,128,36);
}
