<div class ="container">
<div class="row">
  <div class="col-sm-12">
    <header>
        <a target="_blank" href="https://www.binary.com"><amp-img class="logo" src= {{ "/assets/img/binary-logo.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="100" width="250"></amp-img></a>
    </header>
    <h1 class = "center-text">The Premier Platform for Online Trading</h1>
    <p class = "white-text center-text">Sign up for a risk-free virtual account and start trading with instant access to $10,000 in virtual funds.</p>
  </div>
</div>
</div>
