<div class = "container">
    <div class = "row">
        <div class="col" align = "center">
            <p class = "arrow-down center-text">
                <a href="#why-trade-with-us" on="tap:why-trade-with-us.scrollTo">
                    <amp-img src= {{ "/assets/img/dark/ic-scroll-down.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="36" layout="fixed-height">
                    </amp-img>
                </a>
            </p>
            <hr/>
            <h2 id="why-trade-with-us">Trade in the world’s financial markets with an award-winning broker</h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <amp-img class="logo" src= {{ "/assets/img/dark/ic-unique-trade-types.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="fixed-height"></amp-img>
            </div>
                <h3 class = "white-text center-text">Binary options</h3>
            <div class="hero-text">
                <p class = "white-text center-text">A type of option that offers a fixed payout based on a simple yes/no proposition.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <amp-img class="logo" src= {{ "/assets/img/dark/ic-licensed-regulated.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="fixed-height"></amp-img>
            </div>
                <h3 class = "white-text center-text">CFDs</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Derivatives that reflect the movement of underlying assets.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <amp-img class="logo" src= {{ "/assets/img/dark/ic-trade-real-crypto.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="fixed-height"></amp-img>
            </div>
                <h3 class = "white-text center-text">Cryptocurrencies</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Cryptocurrency pairs including Bitcoin (BTC/USD), Ethereum (ETH/USD), and Litecoin (LTC/USD)</p>
            </div>
        </div>
    </div>
</div>
