<div class = "container">
    <div class = "row">
        <div class="col" align = "center">
            <hr/>
            <h2>Why Trade with Us</h2>
        </div>
    </div>
    <div class = "row">
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <span class="ic ic-unique-trade-types"></span>
            </div>
                <h3 class = "white-text center-text">Unique Trade Types</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Nam dapidus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <span class="ic ic ic-trade-real-crypto"></span>
            </div>
                <h3 class = "white-text center-text">Trade in Real and Cryptocurrency</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Nam dapidus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <span class="ic ic-licensed-regulated"></span>
            </div>
                <h3 class = "white-text center-text">Licensed and Regulated</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Nam dapidus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum.</p>
            </div>
        </div>
    </div>
</div>
