<div class = "container">
    <div class = "row">
        <div class = "col-md" align = "center">
            <h2>Payment Methods</h2>
        </div>
    </div>
    <div class = "row" align = "center">
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-visa.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-mastercard.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-bank-transfer.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-internet-bank-transfer.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-western-union.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-internet-banking.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-skrill.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-neteller.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-moneta.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-webmoney.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-ukash.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-instadebit.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-qiwi.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-clickandbuy.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-verified-visa.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-union-pay.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-mastercard-securecode.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-icbc.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-yandex.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-fasapay.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-perfect-money.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-cashu.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-ok-pay.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-paysafe-card.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-bitcoin.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-bitcoin-cash.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-litecoin.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-ethereum.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
        <div class = "col-4 col-sm-3 col-md-1 mx-auto ic-box">
            <amp-img class="logo" src= {{ "/assets/img/payment_methods/ic-ethereum-classic.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="flex-item"></amp-img>
        </div>
    </div>
</div>
