<!-- <amp-analytics type="googleadwords" id="adwords1">
    <script type="application/json">
        {
            "vars": {
                "googleConversionId": "1069503878",
                "googleConversionColor": "666666",
                "googleConversionLanguage": "en_US"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "conversion"
                }
            }
        }
    </script>
</amp-analytics> -->
<amp-analytics type="googleadwords" id="adwords2">
   <script type="application/json">
       {
           "vars": {
               "googleConversionId": "1069503878"
           },
           "triggers": {
               "trackPageview": {
                   "on": "visible",
                   "request": "remarketing"
               }
           }
       }
   </script>
</amp-analytics>
